@model List<ExpenseDto>

<table class="table table-dark table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Daire Sahibi</th>
            <th scope="col">Daire Numarası</th>
            <th scope="col">Fatura Tipi</th>
            <th scope="col">Fatura Fiyatı</th>
            <th scope="col">Son Ödeme Tarihi</th>
            <th scope="col">Ödeme Bilgisi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <th scope="row">@expense.Id</th>
                <th>@expense.UserName</th>
                <th>@expense.FlatNumber</th>
                <th>@expense.TypeName</th>
                <th>@expense.Price</th>
                <th>@expense.InvoiceDate.ToString("dd.MM.yyyy")</th>
                <th>
                    @if (expense.IsPayment)
                    {
                        <span>Ödendi</span>
                    }
                    else
                    {
                       <span>Ödenmedi</span> 
                    }
                </th>
                <th>
                    <a href="payment" class="btn btn-success">Öde</a>
                </th>
            </tr>
        }
    </tbody>
</table>