@model ICollection<BuildingDto>

<div>
    <a class="btn btn-success" asp-action="AddBuilding" asp-controller="Building">Yeni Blok Ekle</a>
</div>
<br />
<table class="table table-dark table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Blok Adı</th>
            <th scope="col">Toplam Daire Sayısı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var building in Model)
        {
            <tr>
                <th scope="row">@building.Id</th>
                <td>@building.BuildingName</td>
                <td>@building.NumberOfFlats</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Building" asp-action="UpdateBuilding" asp-route-id="@building.Id">
                        Güncelle
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Building" asp-action="DeleteBuilding" asp-route-id="@building.Id">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>